/*---CART---*/
.cart-container {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente si es necesario */
    margin: 20px;
  }
  .cart-container .cart-details {
    width: 60%;
    background-color: #f9f9f9;
    border-radius: 5px;
  }
  .cart-container .cart-details h2 {
    font-size: 19px;
    text-align: left;
    background-color: #8f8f8f;
    color: #f9f9f9;
    width: 100%;
    padding: 6px;
    padding-left: 15px;
  }
  .cart-container .cart-details .cart-account {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 15px;
    padding: 20px;
    padding-left: 15px;
  }
  .cart-container .cart-details ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    margin: 15px;
  }
  .cart-container .cart-details ul li .cart-item-info {
    display: flex;
    gap: 8px;
  }
  .cart-container .cart-details ul li .cart-item-info img {
    width: 100px;
    height: auto;
    margin-bottom: 6px;
  }
  .cart-container .cart-details ul li .cart-item-info div {
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: normal;
  }
  .cart-container .cart-details ul li .cart-item-quantity {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .cart-container .cart-details ul li .cart-item-quantity button {
    background: none;
    padding: 5px;
    border-color: #9d9d9d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px; /* Ajusta el alto según sea necesario */
    width: 20px; /* Ajusta el ancho según sea necesario */
    border-radius: 3px;
    font-size: 16px; /* Ajusta el tamaño de la fuente según sea necesario */
    color: #202020;
  }
  
  .cart-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 70px;
    background-color: #fff;
    border-top: 1px solid #ddd;
  }
  .cart-actions a {
    display: inline-block;
    background: none;
    color: #000;
    text-align: center;
    padding: 15px 30px;
    font-weight: 700;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
    border: 0.1px solid rgb(219, 219, 219);
    box-sizing: 1px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .cart-actions a:hover {
    background-color: #f0f0f0;
  }
  .cart-actions a .fa-arrow-left {
    margin-right: 6px;
  }
  .cart-actions a .fa-arrow-right {
    margin-left: 6px;
  }
  .cart-actions div .sim {
    font-size: 20px;
    font-weight: bold;
    color: #000;
  }
  .cart-actions div .amount {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }